p {
    height: 350px;
    width: 220px;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-bottom: 30px;
    border: dotted 2px #ff0000;
    background-color: green;
}